APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PAYPAL_CLIENT_ID=AQwg27anqI-eC0pZJ2SeI0Ig0IYWzORL6nBXoGi6tJOI9YMr72hM5i5AoOotTYgV8pdmP4QdZITwlAFD
PAYPAL_SECRET=EJjYxmLT9nXNz3-24DGkIb_wL6B4aVng_ScxgIVrZ7R4Qrb_e84Tm1ftmzpiXCjIphu4P9qrBiicL1bw
PAYPAL_MODE=sandbox