.fields-group {
  padding-left: 20px;
  padding-right: 20px;

  &--pay {
    padding: 0;
  }

  &__upload {
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 200px;

    input {
      display: none;
    }
  }

  &__img-box {
    margin-top: 20px;
    width: 200px;
    position: relative;
    display: none;
  }

  &__img-close {
    position: absolute;
    display: block;
    font-size: 25px;
    text-align: center;
    line-height: 27px;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    color: @gray;
    border: 1px solid @gray--light;
    cursor: pointer;
  }

  &__field {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: @font-size + 2;
    border: 1px solid @field-border;
    border-radius: 2px;

    &:focus {
      border-color: @color-main;
    }

    &--invalid {
      border: 1px solid @danger;
      background-color: @danger--light;

      &:focus {
        border-color: @danger;
      }
    }

    &--short-desc {
      width: 100%;
      resize: none;
      padding-top: 5px;
      height: 80px;
    }

    &--full-desc {
      width: 100%;
      resize: none;
      padding-top: 5px;
      height: 80px;
    }

    &--summ {
      height: 45px;
    }

    &--cvn {
      width: 70px;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
  }

  &__text-wrap {
    position: relative;
  }

  &__symbols {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: @gray--light;
  }


  &__error {
    display: block;
    font-size: @font-size + 1;
    color: @danger;
    min-height: 30px;

    label {
      display: none;
      margin-bottom: 10px;
    }
  }

  &__wrap {
    .clearfix;
  }

  &__input-wrap {
    float: left;
  }

  &__checkbox {
    margin-bottom: 20px;
  }

  &__label {
    padding-left: 5px;
    font-size: @font-size + 1;
    color: @gray--dark;

    &--text {
      margin-bottom: 10px;
      font-size: @font-size + 2;
    }
  }

  &__link {
    float: right;
    font-size: @font-size + 1;
    color: @color-link;
  }

  &__select-wrap {
    width: 100%;
    height: 40px;
    border: 1px solid @field-border;
    border-radius: 2px;
    overflow: hidden;

    &:hover {
      border-color: @color-main;
    }

    &--card {
      width: 25%;
      margin-right: 30px;
      float: left;
      overflow: inherit;
    }
  }

  &__select {
    width: 100%;
    border: none;
    outline: none;
    height: 38px;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    font-size: @font-size + 2;
    color: @gray--dark;
    line-height: 40px;

    &:focus {
      outline: none;
    }
  }

  &__card {
    display: none;
  }

  &__pay-option {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 50px;
  }

  &__pay-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 51px;
    height: 32px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;

    &--paypal {
      background-position: -634px -3px;
    }

    &--master {
      background-position: -577px -3px;
    }
  }


  &__card-wrap {
    .clearfix;
    margin-bottom: 30px;
  }

  &__summ {
    font-size: 0;
  }

  &__summ-wrap {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 45px;
    margin-right: 10%;
  }

  &__tip {
    position: absolute;
    display: none;
    top: -110px;
    left: 0px;
    width: 200px;
    padding: 10px;
    background-color: @gray--darken;
    color: #fff;
    z-index: 10;
  }

  &__tip-btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: @gray--lighten;
    cursor: pointer;

    &:hover {
      .fields-group__tip {
        display: block;
      }
    }
  }

  &__cvn-wrap {
    position: relative;
  }
}

#master:checked ~ .fields-group__card {
  display: block;
}
