.main-footer {
  background-color: @color-secondary;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;

  &__wrapper {
    .container;
    .clearfix;
  }

  &__middle-wrapper {
    width: 27%;
    float: left;
  }
}
