.paginator {
  padding-top: 45px;
  padding-bottom: 30px;
  font-size: 0;
}

.pagination {
  .no-list;
  margin: 0 auto;
  width: 100%;

  li {
    display: inline-block;
    vertical-align: top;
    min-width: 58px;
    font-size: @font-size + 7px;
    border: 1px solid @color-secondary;
    color: @color-secondary;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;

    a {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &.active {
      padding-top: 16px;
      padding-bottom: 16px;
      border-color: @color-main;
      color: @color-main;
    }

    &.disabled {
      color: @gray--light;
      padding-top: 16px;
      padding-bottom: 16px;
      border-color: @gray--light;

      &:hover {
        color: @gray--light;
        border-color: @gray--light;
      }
    }

    &:hover {
      border-color: @color-main;
      color: @color-main;
    }

    &:active {
      border-color: @color-main;
      color: @color-main;
    }
  }
}

/*

  &__wrap {
    margin: 0 auto;
    width: 100%;
  }



  &__arrow {
    display: inline-block;
    vertical-align: top;
    font-size: @font-size + 15px;
    line-height: 26px;
    color: @gray--darkest;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-right: 16px;

    &:hover {
      color: @color-main;
    }

    &--disabled {
      color: @gray--light;

      &:hover {
        color: @gray--light;
      }
    }
  }


} */
