
//------------------------------------------------------------------------------
// Color
//------------------------------------------------------------------------------

@gray--lightest:  #f5f5f5;
@gray--lighten:   #e7e7e7;
@gray--light:     #a4a8a8;
@gray:            #828587;
@gray--dark:      #666666;
@gray--darken:    #333333;
@gray--darkest:   #2a2a2a;

@color-main:          #8db34b;
@color-main--darker:  #9ed53f;
@color-secondary:     #372921;


//------------------------------------------------------------------------------
//  Fonts
//------------------------------------------------------------------------------

@font-family:  'Source Sans Pro', Arial, sans-serif;

@font-size:     13px;
@font-size--h1: @font-size + 37;
@font-size--h2: @font-size + 2;

@font--light:   300;
@font--normal:  400;
@font--bold:    600;

//------------------------------------------------------------------------------
//  Sizes
//------------------------------------------------------------------------------

@column: 22.5%;
@column-margin: 3.5%;
